<!DOCTYPE html>
<html ng-app="Note">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/bower_components/animate/animate.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.media.js"></script>
    <!-- <script src="/js/pdfobject.js"></script> -->
    

    
</head>
<style>
    .image-section{
        width: 100%;
    }
    .divider{
        width: 100%;
        border-top: 2px solid gray;
    }
</style>
<body>

<div class="container animated bounce">

    <div class="article-box text-center">
        <% articles[id].urls.forEach(function(url){ %>
        
            <image class="image-section" src="<%= url %>"></image>
            <div class="divider"></div>
        <% }); %>
        
        <!-- <div id="pdf_preview"></div> -->
        <!-- <div id="example1"></div> -->
    </div>
</div>

<!-- <script>PDFObject.embed("/pdf/sample-3pp.pdf", "#example1");</script> -->
<!-- <script>
    src = '/pdf/1.pdf';
    $('#pdf_preview').media(
    {
        width : '100%',
        height : '1000px',
        autoplay : true,
        src : src,
    });
    console.log('pdf');
</script> -->

<%- include footer %>

