<!DOCTYPE html>
<html ng-app="Note">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/bower_components/animate/animate.min.css">

</head>

<style>

    .title{
        margin-top: 45%;
        font-size: 40px;
        font-weight: 600;
        line-height: 55px;
    }

    .section{
        margin-top: 80px;
        line-height: 80px;
        font-size: 35px;
        font-weight: 500;
    }

    .article-title{

    }

    .body-back{
        height: 2000px;
        width: 100%;
        background-image: url(images/back1.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

</style>

<body class="body-back">
    <div class="container animated pulse text-center">
        <div class="title">
            山西省2018年全省政务公开与信息编报暨</br>
            电子政务工作培训班分享资料
        </div>
        <div class="section">
            <div>
                <a href="/pdf/1.pdf" download="培训资料汇编">培训资料汇编</a>
            </div>
            <% articles.forEach(function(article){ %>
            
                <div class="article-title">
                    <a href="/article/<%= article.id%>"><%= article.name %></a>
                </div>
           
            <% }); %>
        </div>
        
    </div>
</body>


<%- include footer %>